[Unit]
Description=vlc-radio
Wants=network-online.target
After=network.target network-online.target mnt-music.mount


[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/cvlc -L /etc/default/vlc-radio/playlist.m3u8
Restart=on-failure

[Install]
WantedBy=multi-user.target
